<!doctype html>
<html ng-app="travel">

<head>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/index.css">
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxV8fSKU8NC9M5UU6bGqCijhE02tA5Tk8&libraries=places&callback=initMap">
    </script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/index.js"></script>
</head>

<body ng-controller="TravelController">
    <div style="width:100vw; height:100vh;">
        <div class="map border col" id="map"></div>
        <div class="control col">
            <div class="max-hei col border container-fluid" style="width:50%">
                <div class="row pad header-box">
                    <div style="width:20%;" class="col max-hei text-center"><span ng-click="drawPlanning()" title="show planning"  ng-if="true" class="on-active glyphicon" ng-class="{'glyphicon-eye-close':plane, 'glyphicon-eye-open':!plane}" aria-hidden="true"></span></div>
                    <div style="width:20%;" class="col max-hei text-center"><span ng-click="tsp()" title="Sort track"  ng-if="true" class="on-active glyphicon glyphicon-road" aria-hidden="true"></span></div>
                    <div style="width:60%;" class="col max-hei text-right">
                        אתרים
                    </div>
                </div>
                <div class="row text-right box-item on-active" ng-repeat="site in currentTrack.sites" title="{{site.name}}">
                    <div class="col-md-2"><span class="on-active glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeItem(currentTrack.sites, $index)"></span></div>
                    <div class="col-md-7 max-hei">
                        <div ng-show='site.editname'>
                            <input autofocus type="text" class="input-attr" ng-blur='site.editname = false;putTrack()' ng-model="site.name" />
                        </div>
                        <div ng-click='site.editname = true;' class="text-overflow" ng-show='!site.editname'>{{site.name}}</div>
                    </div>
                    <div class="col-md-3 max-hei">
                        <div ng-show='site.edittime'>
                            <input autofocus type="text" class="input-attr" ng-blur='site.edittime = false;putTrack()' ng-model="site.time" />
                        </div>
                        <div class="max-hei max-wid" ng-click='site.edittime = true;' ng-show='!site.edittime'>{{site.time}}</div>
                    </div>
                </div>
            </div>
            <div class="max-hei col border container-fluid" style="width:50%">
                <div class="row pad header-box">
                    <div style="width:20%;" class="col max-hei text-center"><span ng-click="addTrack()" class="on-active glyphicon glyphicon-plus" aria-hidden="true"></span></div>
                    <div style="width:80%;" class="col max-hei text-right">
                        המסלולים שלי
                    </div>
                </div>
                <div class="row text-right box-item on-active" ng-click='active.trackid = track.id' ng-class="{'active':currentTrack._id==track._id}" ng-repeat="track in tracks">
                    <div class="col-md-2"><span class="on-active glyphicon glyphicon-trash" ng-click="removeItem(tracks, $index)" aria-hidden="true"></span></div>
                    <div class="col-md-2"><span class="on-active glyphicon glyphicon-edit" ng-click='track.editname = true;' aria-hidden="true"></span></div>
                    <div class="col-md-8 max-hei">
                        <div ng-show='track.editname'>
                            <input autofocus type="text" class="input-attr" ng-blur='track.editname = false;putTrack()' ng-model="track.title" />
                        </div>
                        <div ng-show='!track.editname' ng-click="setSites(track)">{{track.title}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>